<header>
    <div class="main">
        <a href={{ config.base_url }}>{{ config.title }}</a>

        <div class="socials">
            {% for social in config.extra.socials %}
            <a href="{{ social.url }}" class="social">
                <object alt={{ social.name }} height="80" data="/social_icons/{{ social.icon }}.svg" type="image/svg+xml"></object>
                <!--  width="24" -->
            </a>
            {% endfor %}
        </div>
    </div>

    <nav>
        {% for menu in config.extra.menu %}
            <a href={{ menu.url }} style="margin-left: 0.7em">{{ menu.name }}</a>
        {% endfor %}
    </nav>
</header>