.page-header {
  font-size: 3em;
  line-height: 100%;
  font-family: var(--header-font);
  margin: 4rem 0px 1rem 0px;
}

.centered-header {
  font-family: var(--header-font);

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4em;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 0;
}

header .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  font-size: 1.5rem;

  /* Otherwise header and menu is too close on small screens*/
  margin-bottom: 10px;
}

.socials {
  /* flex-child */
  flex-grow: 0;
  /* flex-container */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 6px;

  object {
    border: none;
    pointer-events: none;
  }
}

.social {
  border-bottom: unset;
  background-image: unset;
  padding: 2px;
}

.social>img {
  border: unset;
  width: 24px;
  height: 24px;

}

.meta {
  color: #999;
  letter-spacing: -0.5px;
}

h1,
h2 {
  border-bottom: 1px solid rgba(61, 68, 77, 0.7);
  padding-bottom: 7.2px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13.6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
}

.list-item h1 {
  font-size: 1.2rem;
  border-bottom: none;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-top: 2em;
  font-weight: initial;
  padding: 0px;
}

@media (prefers-color-scheme: dark) {
  .social>img {
    filter: invert(1);
  }
}